@tailwind base;
@tailwind components;
@tailwind utilities;


/* Sizing of Map Container */
.leaflet-container{
    height: 100%;
}

.textarea:focus, input:focus{
    outline: none;
}

.leaflet-control-zoom{
    display:none;
}