@tailwind base;
@tailwind components;
@tailwind utilities;


/* Sizing of Map Container */
.leaflet-container{
    height: 100%;
}

.textarea:focus, .input:focus{
    outline: none;
}

.leaflet-control-zoom{
    display:none;
}

.rc-slider-track, .rc-slider-tracks {
    background-color: #3D52A0 !important;
}


.rc-slider-handle, .rc-slider-handle-2 {
    border: solid 2px #3D52A0 !important;
}

.rc-slider-handle:focus-visible{
    box-shadow: 0 0 0 3px #3D52A0 !important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging{
    box-shadow: 0 0 0 5px #3D52A0 !important;
}

.leaflet-tooltip {
    color: #000000 !important;
    font-weight: bold;
    background-color: transparent !important;
    box-shadow: none !important;
    border-width: 0 !important;
}

.leaflet-tooltip::before {
    border-bottom-color: transparent !important;
}
